<div class="container" id="home">
  <div class="row">
    <div class="col col-left">
      <h4 class="center">แผนงานประจำปี 2557</h4>
      <div class="calendar">
        <table>
          <tbody>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">มกราคม 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">3</td>
              <td class="text">
                <p>วันแรกในการเปิดเรียนของปีการศึกษา 2557</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">กุมภาพันธ์ 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">1-28</td>
              <td class="text">
                <p>สมัครสอบ Trinity Rock School</p>
                <p>(วิชากีต้าร์ และวิชากลอง)</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">มีนาคม 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">28-29</td>
              <td class="text">
                <p>Mini Concert ครั้งที่ 1 ประจำปี 2557</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">เมษายน 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">11-17</td>
              <td class="text">
                <p>โรงเรียนหยุดเนื่องในเทศกาลวันสงกรานต์</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">พฤษภาคม 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">1</td>
              <td class="text">
                <p>Pre-Exam Trinity Rock School</p>
                <p>(วิชากีต้าร์ และวิชากลอง)</p>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">5-6</td>
              <td class="text">
                <p>สัมมนาประจำปี 2557</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">มิถุนายน 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">1-30</td>
              <td class="text">
                <p>สมัครสอบ Trinity College London</p>
                <p>(วิชาเปียโน วิชากีตาร์คลาสสิก และวิชาไวโอลิน)</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">กรกฎาคม 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">11</td>
              <td class="text">
                <p>วันสอบ Trinity Rock School</p>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">1-31</td>
              <td class="text">
                <p>สมัครสอบ London College Music</p>
                <p>(วิชาเปียโน)</p>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">26-27</td>
              <td class="text">
                <p>Mini Concert ครั้งที่ 2 ประจำปี 2557</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">ตุลาคม 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">23</td>
              <td class="text">
                <p>Pre-Exam Trinity College London</p>
                <p>(วิชาเปียโน วิชากีตาร์คลาสสิก และวิชาไวโอลิน)</p>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">25-26</td>
              <td class="text">
                <p>Mini Concert ครั้งที่ 3 ประจำปี 2557</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">พฤศจิกายน 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">10-13</td>
              <td class="text">
                <p>วันสอบ Trinity College London</p>
              </td>
            </tr>
            <tr class="header">
              <td colspan="2">
                <div class="icon">&nbsp;</div>
                <div class="text">ธันวาคม 2557</div>
              </td>
            </tr>
            <tr class="detail">
              <td class="date">1-10</td>
              <td class="text">
                <p>เป็นช่วงเวลาสอบของ London College Music</p>
                <p>(ต้องรอทางอังกฤษแจ้งวันสอบ)</p>
              </td>
            </tr>
            <tr class="detail">
              <td class="text special" colspan="2">
                <center>
                  <p>29 ธันวาคม 2557-5 มกราคม 2558</p>
                  <p>โรงเรียนหยุดเนื่องในเทศกาลปีใหม่</p>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col col-center">
      <h3>ดนตรี...จุดเริ่มต้นของอัจฉริยภาพ</h3>
      <br />
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ใครๆ ก็อยากให้ลูกของตนเองเติบโตอย่างแข็งแรงสมบูรณ์ พร้อมด้วยสติปัญญาที่เฉลียวฉลาดสมวัย แต่ทำอย่างไรที่จะทำให้ลูกๆ ของเราเติบโตอย่างที่เราคาดหวังไว้</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณทราบหรือไม่ว่าการเรียนดนตรีช่วยเสริมสร้างอัจฉริยภาพแก่ลูกคุณได้ ?</p>
      <br />

      <h3 class="orange center">"โรงเรียนดนตรีเปียโนฟอร์เต้ มีคำตอบ"</h3>
      <br />

      <p class="green">ดนตรีมีองค์ประกอบที่เหมาะสมในการกระตุ้นการทำงานของสมองได้ทั้งซีกซ้ายและซีกขวา</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สมองซีกซ้ายเป็นพื้นฐานของคณิตศาสตร์ วิทยาศาสตร์ การอ่าน การเขียน การพูด การคิดวิเคราะห์ และการใช้เหตุผล ส่วนสมองซีกขวาเป็นการเรียนรู้ด้านความรู้สึก จินตนาการ ความคิดสร้างสรรค์  เสียงดนตรีช่วยกระตุ้นการทำงานของสมองซีกขวา ตัวโน้ต ทำนอง และจังหวะ ช่วยกระตุ้นการทำงานของสมองซีกซ้าย</p>
      <br />

      <p class="green">ดนตรีคือสิ่งที่ช่วยเสริมสร้างพัฒนาการของเด็ก</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ดนตรีมีหลายประเภท แต่ดนตรีที่เหมาะสมกับเด็กก็คือ ดนตรีที่มีจังหวะ ทำนอง และความกลมกลืนของเสียงอย่างเป็นระบบ ซึ่งจะมีผลต่อการจัดลำดับความคิดในสมอง (Logical Thinking) ของเด็ก โดยเราสามารถที่จะให้เด็กในท้อง เริ่มฟังดนตรีได้ตั้งแต่อายุครรภ์ 5 เดือน โดยคลื่นเสียงที่มีโครงสร้างเหมาะสมจะกระตุ้นเครือข่ายสายใยประสาทเกี่ยวกับการได้ยินให้พัฒนาได้รวดเร็วขึ้น</p>
      <br />

      <p class="green">ทำไมการเรียนดนตรีคลาสสิก ถึงเหมาะกับการพัฒนาการของเด็กมากที่สุด</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;มีผลวิจัยออกมาว่า <span class="orange">“ดนตรีคลาสสิกมีผลต่อการทำงานของเซลล์สมองส่วนที่มีหน้าที่พัฒนาด้านมิติสัมพันธ์ซี่งคือการเชื่อมโยงความคิดให้เข้ากับรูปทรงและสิ่งของต่างๆ ซึ่งเป็นพื้นฐานในการพัฒนา ด้านคณิตศาสตร์และวิทยาศาสตร์”</span> โดยในการทดลองพบว่า เด็กในวัยเรียนอายุต่ำกว่า 7 ปี ที่ฝึกเล่นและเรียนดนตรีอย่างสม่ำเสมอ จะมีคะแนนความสามารถด้านความสัมพันธ์ คณิตศาสตร์ วิทยาศาสตร์ และภาษาดีกว่าเด็กที่ไม่ได้เล่นดนตรี</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โดยเฉพาะอย่างยิ่ง ผลงานเพลงของโมซาร์ต ซึ่งมีผลต่อพัฒนาการด้านมิติสัมพันธ์ และจะคงอยู่ได้นานก็ต่อเมื่อมีการฝึกฝนในช่วงอายุ 3-7 ขวบ อย่างต่อเนื่อง 2 ปีขึ้นไป ซึ่งการฝึกฝนที่เหมาะสมได้แก่ การที่เด็กได้ร้องรำทำเพลง เล่นดนตรี และประกอบกิจกรรมเข้าจังหวะ</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ดังนั้นการเรียนดนตรีจึงเป็นปัจจัยหนึ่งที่มีบทบาทสำคัญต่อการพัฒนาอัจฉริยะภาพของเด็กเป็นอย่างมาก การดูแลเอาใจใส่ รู้จักกระตุ้น และต่อยอดพัฒนาการของลูกน้อยด้วยดนตรีที่เหมาะสมกับเด็กจึงเป็นสิ่งสำคัญ </p>
    </div>
    <div class="col col-right">
      <h3 class="orange">Our Course</h3>
      <a class="block course-01" href="" title="Music for Children"></a>
      <a class="block course-02" href="" title="Music for Children"></a>
      <a class="block course-03" href="" title="Music for Children"></a>
      <a class="block facebook" href="https://www.facebook.com/Pianoforteclub" title="Music for Children"></a>
      <a class="block appstore" href="http://goo.gl/dTuIje" title="Music for Children"></a>
      <a class="block playstore" href="http://goo.gl/M8Ncj9" title="Music for Children"></a>
      <div class="img-bulb"></div>

      <!-- <a href="our-course.php#Music-for-Children" title="Music for Children" ><img src="assets/images/course_01_music_for_children.gif" /></a>
      <br />
      <a href="our-course.php#Classical-Music" title="Classical Music" ><img src="assets/images/course_02_classical_music.gif" /></a>
      <br />
      <a href="our-course.php#Contemporary-Music" title="Contemporary Music" ><img src="assets/images/course_03_contemporary_music.gif" /></a>
      <br />
      <br />
      <br />
      <a href="https://www.facebook.com/Pianoforteclub" target="_blank" title="Find us on Facebook Fanpage">
        <img src="assets/images/fb_fanpage_1.jpg" />
      </a><br />
      <a href="http://goo.gl/dTuIje" target="_blank" title="Find us on App Store">
        <img src="assets/images/appstore.jpg" />
      </a><br />
      <a href="http://goo.gl/M8Ncj9" target="_blank" title="Find us on Play Store">
        <img src="assets/images/playstore.jpg" />
      </a><br /> -->
    </div>
    <div class="clear-fix"></div>
  </div>
</div>
<div ng-include="'components/main-course/main-course.html'"></div>