<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <span></span>
        <p class="left">
          <span class="bold">PianoForte The School of Music</span><br />
          PianoForte 7th floor Education Zone Central Plaza Chaengwattana<br />
          Tel: 02-1010-588 Mobile: 086-314-9150 Fax: 02-1010-589<br />
          <span class="grey">E-mail:</span>&nbsp;<a href="mailto:pianofortethai@gmail.com" target="_blank" class="grey">pianofortethai@gmail.com</a>
        </p>
      </div>
      <div class="col">
        <p class="right">
          <span class="head">CALL US</span><br />
          <a class="tel" href="tel:021010558;">02-1010-558</a><br />
          <span class="bold">
            Tuesday-Friday 11am-7pm<br />
            Saturday-Sunday 9am-7pm
          </span>
        </p>
      </div>
      <div class="clear-fix"></div>
    </div>
  </div>
</footer>