//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------
@fontSizeXL: 20px;
@fontSizeL: 18px;
@fontSizeM: 16px;
@fontSizeS: 14px;
@fontSizeXS: 12px;

// Main Colors
// -------------------------

// Layout
// -------------------------


// Typography
// -------------------------
@baseFontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif;