
@import 'font-awesome/less/font-awesome.less';


@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'less/config.less';
@import 'less/main-content.less';
@import 'less/mixins.less';
@import 'less/reset.less';
@import 'less/typography.less';
@import 'views/contact-us/contact-us.less';
@import 'views/english-page/english-page.less';
@import 'views/home/home.less';
@import 'views/our-course/our-course.less';
@import 'views/our-school/our-school.less';
@import 'footer/footer.less';
@import 'header/header.less';
@import 'main-course/main-course.less';
@import 'top-banner/top-banner.less';
// endinjector