<section id="main-course">
  <div class="container">
    <p class="slogan center">
      <strong>"ค้นพบอัจฉริยภาพทางดนตรีของลูกคุณ กับครูดนตรีคุณภาพที่ผ่านมาตรฐานการสอบจากสถาบันต่างประเทศ <br />
      (Trinity College London, Trinity Rock School) และมหาวิทยาลัยดนตรีชั้นนำภายในประเทศ"</strong>
    </p>
    <div class="course-container">
      <div class="course piano">
        <h4 class="black normal">วิชาเปียโนสอนโดย</h4>
        <h4 class="orange normal">ครูระดับปริญญาตรี</h4>
        <h4 class="orange normal">Grade 6-LTCL</h4>
      </div>
      <div class="course violin">
        <h4 class="black normal">วิชาไวโอลินสอนโดย</h4>
        <h4 class="orange normal">ครูระดับปริญญาตรี</h4>
        <h4 class="orange normal">Grade 8</h4>
      </div>
      <div class="course guitar">
        <h4 class="black normal">วิชากีตาร์คลาสสิกสอนโดย</h4>
        <h4 class="orange normal">ครูระดับปริญญาโท</h4>
        <h4 class="orange normal">Grade 8</h4>
      </div>
      <div class="course elecguitar">
        <h4 class="black normal">วิชากีตาร์ไฟฟ้าสอนโดย</h4>
        <h4 class="orange normal">ครูระดับปริญญาตรี</h4>
        <h4 class="orange normal">Grade 8</h4>
      </div>
      <div class="course drum">
        <h4 class="black normal">วิชากลองสอนโดย</h4>
        <h4 class="orange normal">ครูระดับปริญญาตรี</h4>
        <h4 class="orange normal">Grade 8</h4>
      </div>
      <div class="clear-fix"></div>
    </div>
  </div>
</section>